body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    font-family: Arial, Helvetica;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form {
    margin-bottom: 10px;
    display: inline-block;
}